[00 - Master]

## Полностью включить/выключить мод VBNetTweaks [Synced with Server]
# Setting type: Boolean
# Default value: true
ModEnabled = true

[02 - Modules]

## Оптимизации Steam сокета [Synced with Server]
# Setting type: Boolean
# Default value: true
SteamOptimizations = true

## Синхронизация кораблей [Synced with Server]
# Setting type: Boolean
# Default value: true
ShipSync = true

[04 - Steam Settings]

## Максимальная скорость отправки Steam (vanilla = 150 KB/s) [Synced with Server]
# Setting type: Int32
# Default value: 4096
# Acceptable value range: From 256 to 10240
MaxRateKB = 4096

## Размер буфера отправки Steam в KB (vanilla = ~260KB). Рекомендуется 1024-4096 [Synced with Server]
# Setting type: Int32
# Default value: 2048
# Acceptable value range: From 512 to 8192
SendBufferSizeKB = 2048

[05 - Server Settings]

## Интервал отправки данных (vanilla = 0.05) [Synced with Server]
# Setting type: Single
# Default value: 0.03
# Acceptable value range: From 0.01 to 0.5
SendInterval = 0.03

## Количество пиров за один апдейт (vanilla = 1) [Synced with Server]
# Setting type: Int32
# Default value: 30
# Acceptable value range: From 1 to 200
PeersPerUpdate = 30

## Размер буфера отправки ZDO пакетов (vanilla = 10240 Kb) [Synced with Server]
# Setting type: Int32
# Default value: 20480
ZDOQueueLimit = 20480

