## Settings file was created by plugin StumpsRegrow v1.0.5
## Plugin GUID: advize.StumpsRegrow

[General]

## Number of seconds it takes for a stump to regrow into the tree that spawned it (will take at least 10 seconds after spawning to grow). Default is 1800 seconds (30 minutes).
# Setting type: Single
# Default value: 1800
StumpGrowthTime = 18000

[Server]

## If on, the mod configuration is locked and can only be changed by server admins.
# Setting type: Boolean
# Default value: true
LockConfiguration = true

[UI]

## Enables hover text display of growth time remaining on stumps.
# Setting type: Boolean
# Default value: true
EnableStumpTimers = false

## Enables display of growth time as a percentage instead of time remaining.
# Setting type: Boolean
# Default value: false
GrowthAsPercentage = false

