## Settings file was created by plugin Foglands v1.0.1
## Plugin GUID: Azumatt.Foglands

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2 - Fog Settings]

## OFF = Replace mist with pleasant fog (gray, less dense, still atmospheric). ON = Remove ALL mist/fog particles completely. Doesn't work when MistBeGone is installed. [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Disable Particle Mist = Off

## Red component of fog particle color (0-1). Default gives a neutral gray. [Synced with Server]
# Setting type: Single
# Default value: 0.45
# Acceptable value range: From 0 to 1
Fog Color Red = 0.45

## Green component of fog particle color (0-1). Default gives a neutral gray. [Synced with Server]
# Setting type: Single
# Default value: 0.45
# Acceptable value range: From 0 to 1
Fog Color Green = 0.45

## Blue component of fog particle color (0-1). Default has a slight blue tint. [Synced with Server]
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Fog Color Blue = 0.5

[3 - Fog System]

## Enables the Time Based Fog System where fog intensity changes based on time of day. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable Time-Based Veil = On

## How long the fog takes to transition at dawn/dusk. Uses vanilla's day/night timing. [Synced with Server]
# Setting type: Single
# Default value: 1.5
# Acceptable value range: From 0.5 to 4
Transition Duration Hours = 1.5

## How much thicker the fog is at night compared to day. 1.0 = same as day, 3.0 = three times thicker. [Synced with Server]
# Setting type: Single
# Default value: 2.5
# Acceptable value range: From 1 to 5
Night Fog Multiplier = 2.5

## Fog particle opacity at night. Higher = more opaque. [Synced with Server]
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0.1 to 0.8
Night Fog Alpha = 0.5

## Fog particle opacity during the day. [Synced with Server]
# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0.1 to 0.5
Day Fog Alpha = 0.25

[4 - Weather]

## When enabled, storms and rain in Mistlands will make the fog thicker. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable Weather Integration = On

## How much thicker fog gets during thunderstorms. Applied on top of time-based intensity. [Synced with Server]
# Setting type: Single
# Default value: 1.5
# Acceptable value range: From 1 to 3
Storm Fog Multiplier = 1.5

## How much thicker fog gets during rain. Applied on top of time-based intensity. [Synced with Server]
# Setting type: Single
# Default value: 1.25
# Acceptable value range: From 1 to 2
Rain Fog Multiplier = 1.25

