## Settings file was created by plugin Shipwright's Touch v1.0.2
## Plugin GUID: com.malafein.shipwrightstouch

[General]

## Allow deconstructing ships with the hammer (middle-mouse button).
# Setting type: Boolean
# Default value: false
AllowShipDeconstruction = true

## Automatically assign your character as the owner when constructing a ship, restricting modifications (renaming, recoloring, deconstruction) to yourself.
# Setting type: Boolean
# Default value: true
AssignBuilderIdentity = true

