## Settings file was created by plugin InfiniteFire v1.0.0
## Plugin GUID: MidnightsFX.InfiniteFire

[Client config]

## Enables Debug logging.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

[InfiniteFire]

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
fire_pit-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_groundtorch_wood-Standing Wood Torch = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_brazierfloor01-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
CastleKit_groundtorch_unlit-Standing Wood Torch = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
bonfire-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
fire_pit_haldor-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
Candle_resin-Resin Candle = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_brazierfloor02-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_brazierceiling01-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_jackoturnip-Jack-o-turnip = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_groundtorch_green-Standing Green-burning Iron Torch = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_walltorch-Sconce = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_groundtorch_blue-Standing Blue-burning Iron Torch = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
fire_pit_hildir-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
piece_groundtorch-Standing Iron Torch = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
hearth-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
fire_pit_iron-Fire = true

## Enable infinite fuel for this.
# Setting type: Boolean
# Default value: true
BogWitch_Fire_Pit-Fire = true

