## Settings file was created by plugin InfiniteFire v1.1.0
## Plugin GUID: MidnightsFX.InfiniteFire

[Client config]

## Enables Debug logging.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

[InfiniteFire]

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
fire_pit = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_groundtorch_wood = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_brazierfloor01 = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
CastleKit_groundtorch_unlit = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
bonfire = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
fire_pit_haldor = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
Candle_resin = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_brazierfloor02 = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_brazierceiling01 = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_jackoturnip = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_groundtorch_green = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_walltorch = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_groundtorch_blue = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
fire_pit_hildir = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
piece_groundtorch = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
hearth = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
fire_pit_iron = true

## Enable infinite fuel for this fire.
# Setting type: Boolean
# Default value: true
BogWitch_Fire_Pit = true

[InfiniteFuel]

## Enable infinite fuel for this smelter.
# Setting type: Boolean
# Default value: false
smelter = false

## Enable infinite fuel for this smelter.
# Setting type: Boolean
# Default value: false
windmill = false

## Enable infinite fuel for this smelter.
# Setting type: Boolean
# Default value: false
piece_bathtub = true

## Enable infinite fuel for this smelter.
# Setting type: Boolean
# Default value: false
blastfurnace = false

## Enable infinite fuel for this smelter.
# Setting type: Boolean
# Default value: false
piece_spinningwheel = false

## Enable infinite fuel for this smelter.
# Setting type: Boolean
# Default value: false
charcoal_kiln = false

## Enable infinite fuel for this smelter.
# Setting type: Boolean
# Default value: false
eitrrefinery = false

## Enable infinite fuel for this smelter.
# Setting type: Boolean
# Default value: false
kiln = false

## Enable infinite fuel for this cooking station.
# Setting type: Boolean
# Default value: true
piece_oven = true

