## Settings file was created by plugin Item Stacks Item Weights v1.0.7
## Plugin GUID: shudnal.ItemStacksItemWeights

[General]

## Configuration is locked and can be changed by server admins only.
# Setting type: Boolean
# Default value: true
Lock Configuration = true

## Enable logging. [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Logging enabled = false

## Hide stack size of items
# Setting type: Boolean
# Default value: false
Hide stack size = false

## Display large stack sizes in a compact format (e.g. 1k instead of 1000, 1M instead of 1000000).
# Setting type: Boolean
# Default value: false
Compact stack size = false

## Display large amount of items in a compact format (e.g. 1k instead of 1000, 1M instead of 1000000). The number is rounded down.
# Setting type: Boolean
# Default value: false
Compact amount size = false

## Hold to display stack sizes without changes. [Not Synced with Server]
# Setting type: KeyboardShortcut
# Default value: LeftAlt
Show full stack size = LeftAlt

