## Settings file was created by plugin VBNetTweaks v0.3.8
## Plugin GUID: VitByr.VBNetTweaks

[01 - Debug]

## Включить отладочный вывод
# Setting type: Boolean
# Default value: false
DebugEnabled = false

## Включить подробное логирование
# Setting type: Boolean
# Default value: false
VerboseLogging = false

