## Settings file was created by plugin VBNetTweaks v0.4.0
## Plugin GUID: VitByr.VBNetTweaks

[00 - Language]

## Select interface language / Выберите язык интерфейса
## Required Restart / Требуется рестарт
# Setting type: Language
# Default value: Russian
# Acceptable values: Russian, English
Language = English

[01 - Debug]

## Enable debug output
# Setting type: Boolean
# Default value: false
DebugEnabled = false

## Enable verbose logging
# Setting type: Boolean
# Default value: false
VerboseLogging = false

